In [2]:
print("Twinkle, twinkle, little star, \n\tHow I wonder what you are! \n\t\tUp above the world so high, \n\t\tLike a diamond in the sky. \nTwinkle, twinkle, little star, \n\tHow I wonder what you are!")

Twinkle, twinkle, little star,
	How I wonder what you are!
		Up above the world so high,
		Like a diamond in the sky.
Twinkle, twinkle, little star,
	How I wonder what you are!

In [4]:
import sys
print ("Python Version")
print (sys.version)

Python Version
3.7.4 (default, Aug  9 2019, 18:34:13) [MSC v.1915 64 bit (AMD64)]

In [13]:
import datetime
now = datetime.datetime.now()
print ("Current date and time : ")
print (now.strftime("%Y-%m-%d %H:%M:%S"))

Current date and time :
2019-11-22 00:20:19

In [16]:
# calculate area of circle
from math import pi
r = float(input ("Input the radius of the circle : "))
print ("The area of the circle with radius " + str(r) + " is: " + str(pi * r**2))

Input the radius of the circle : 76
The area of the circle with radius 76.0 is: 18145.839167134644

In [18]:
fname = input("Input your First Name : ")
lname = input("Input your Last Name : ")
print ( lname + " " + fname)

Input your First Name : abc
Input your Last Name : xyz
xyz abc

In [19]:
value1 = input ("Enter first value:")
value2 = input ( "Enter second value:")
print (value1 +  value2)

Enter first value:45
Enter second value:54
4554

In [20]:
# Store input numbers
num1 = input('Enter first number: ')
num2 = input('Enter second number: ')

# Add two numbers
sum = float(num1) + float(num2)

# Display the sum
print('The sum of {0} and {1} is {2}'.format(num1, num2, sum))

Enter first number: 45
Enter second number: 54
The sum of 45 and 54 is 99.0